# Hero Video
VITE_HERO_VIDEO_URL=https://dnvzpu25blnhd.cloudfront.net/Walking1.mp4

# AWS API (for admin panel)
VITE_API_BASE=https://d1pqkh0r4pj29.cloudfront.net
VITE_SITE_ID=my-site

# AWS Cognito (direct auth - no Hosted UI)
VITE_AWS_REGION=us-east-1
VITE_USER_POOL_ID=us-east-1_Qd5uivjfx
VITE_APP_CLIENT_ID=799ojsgkm6nh0nms4rka64l5o1

VITE_API_BASE=https://d1pqkh0r4pj29.cloudfront.net
VITE_SITE_ID=my-site
VITE_CHECKOUT_ENDPOINT=https://d1pqkh0r4pj29.cloudfront.net/admin/checkout/create-session
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51SDnK1B1EU3m3afiW24cAde2acFRPKRqol092jMvPAnXKjwBKhr5zS5BDP49iqSytkzvXoYVkNvKJWdy82Aws4Va00xzcAJYpX
VITE_STRIPE_SUCCESS_URL=https://d1pqkh0r4pj29.cloudfront.net/checkout/success
VITE_STRIPE_CANCEL_URL=https://d1pqkh0r4pj29.cloudfront.net/checkout